body {
  background: #929394;
  background-image: url("img/firefox-large.png");
  background-position: center;
}

p {
  background: #eaebec;
  font-size: 5em;
  text-align: center;
}

button {
  font-size: 2.5em;
}

img.drama-route {
  position: fixed;
  left: -9999999999px;
}

a {
  font-size: 30px;
  display: inline-box;
  margin-right: 10px
}
